$colorButton: rgba(67,156,239,1);
$font1: 'Coming Soon', cursive;
$font2: 'Allerta Stencil', sans-serif;


.comic {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-bottom: 50px;

    &__title{
        height: max-content;
        text-align: center;
        font-family: $font2;
        font-size: large;
        h2{
            margin: 20px;
        }
    }

    &__image{
        display: grid;
        justify-items: center;
        width: 100%;
        height: max-content;
        &__img{
            width: 95%;
            height: max-content;
        }
    }

    

    &__button{
        margin-top: 40px;
        button{
            height: 50px;
            border: none;
            background-color: $colorButton;
            font-family: $font2;
            font-size: large;
            border-radius: 5px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .comic{
        &__image{
            &__img{
                height: max-content;
                width: max-content;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .comic{
        &__image{
            &__img{
                width: max-content;
                height: max-content;
            }
        }
    }
}

