$colorBackground: rgba(67,156,239,1);
$font1: 'Coming Soon', cursive;

.header{
    display: grid;
    grid-template: 1fr/1fr;
    width: 100%;
    height: 60px;
    background-color: $colorBackground;
    align-items: end;
    &__title{
        text-align: center;
        margin: 0;
        font-family: $font1;
        font-size: xx-large;
        letter-spacing: 2px;
    }
}