$colorStar1: gray;
$colorStar2: orange;

@mixin changeColor {
    color: $colorStar2 !important;
}


.comic__stars{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    width: 100%;
    button{
        background-color: initial;
        border: 0;
        color: $colorStar1;
        transition: 2s all;

        &:hover, &:hover ~ button {
            transform: rotate(360deg);
        }
        
        &:nth-child(1):hover, &:nth-child(1):hover ~ button{
            @include changeColor();
        }

        &:nth-child(2):hover, &:nth-child(2):hover ~ button {
            @include changeColor();
        }

        &:nth-child(3):hover, &:nth-child(3):hover ~ button{
            @include changeColor();
        }

        &:nth-child(4):hover, &:nth-child(4):hover ~ button{
            @include changeColor();
        }

        &:nth-child(5):hover, &:nth-child(5):hover ~ button{
            @include changeColor();
        }
    }

}